<div class="signup-form">

  <h1>
    <a href="/"><img src="/images/cat-icons/cat-icon4.png" alt="logo" style="height: 90px; width:90px"></a>PetsApp
  </h1>

  <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Username</label>
        <input type="text" name="username" class="form-control" id="validationCustom01" placeholder="Username" required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Password</label>
        <input type="password" name="password" class="form-control" id="validationCustom02" placeholder="Password"
          required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="email" name="email" class="form-control" id="validationCustomUsername" placeholder="Email"
            aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please enter a email.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input type="text" name="city" class="form-control" id="validationCustom03" placeholder="City" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input type="text" name="state" class="form-control" id="validationCustom04" placeholder="State" required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input type="text" name="zip" class="form-control" id="validationCustom05" placeholder="Zip" required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <button class="btn btn-success" type="submit">Sign Up</button>
  </form>

</div>

<script>

  (function () {
    'use strict';
    window.addEventListener('load', function () {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>