<h1>Edit your pet here</h1>

<form action="/users/{{pet._id}}" method="POST" enctype="multipart/form-data">
  <label for="petsname">Pet's Name</label>
  <input type="text" name="petsname" id="petsname">

  <label for="breed">Breed</label>
  <input type="text" name="breed" id="breed">

  <label for="petsimage">Upload an Image </label>
  <input type="file" name="petsimage" id="petsimage">

  <button type="submit">Edit</button>

</form>
<a href="/">Homepage</a>



{{#each user.pets}}
<div>{{name}} </div>
{{/each}}