<h1>Edit your pet here</h1>
{{#with pet}}
<form action="/pets/{{this._id}}/edit" method="POST">
  <label for="petsname">Pet's Name</label>
  <input type="text" name="petsname" id="petsname" value="{{petsname}}">

  <label for="breed">Breed</label>
  <input type="text" name="breed" id="breed" value="{{breed}}">

  {{!-- <label for="petsimage">Upload an Image </label>
  <input type="file" name="petsimage" id="petsimage"> --}}

  <button type="submit">Edit</button>

</form>
{{/with}}
<a href="/">Homepage</a>


{{!-- 
{{#each user.pets}}
<div>{{name}} </div>
{{/each}} --}}