@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');


.map-container {
  color: #404040;
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.map-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

.map-container a {
  color: #404040;
  text-decoration: none;
}

.map-container a:hover {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  height: 600px;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

a {
  color: darkgreen;
}

.map-container {
  color: #404040;
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.map-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

.map-container a {
  color: #404040;
  text-decoration: none;
}

.map-container a:hover {
  color: #101010;
}

.sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  height: 600px;
  top: 0;
  bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url("/images/marker.png");
  background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup {
  padding-bottom: 50px;
}

// message
.messenger,
.messageBox {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.messenger {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50%;
}
textarea {
  width: 100%;
}

.messageBox {
  min-height: 100px;
  max-height: 500px;
  overflow: auto;
}

.sender {
  text-align: left;
  color: rgba($color: #006633, $alpha: 1);
}

.receiver {
  text-align: right;
  color: rgba($color: #771e1e, $alpha: 1);
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url("/images/marker.png");
  background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup {
  padding-bottom: 50px;
}


// page styling
// login-home page


.login-home > .section-2 {
  width: auto;
  height: 650px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-home {
  width: auto;
  height: 750px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-home form {
  padding: 7px;
}

.signup-home a {
  color: black;
}

.signup-form {
  width: auto;
  height: 750px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  // padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form a {
  color: black;
}

.login-form {
  width: auto;
  height: 750px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  // padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form a {
  color: black;
  font-family: 'Trocchi', serif;
}

.editUserProfile-page {
  width: auto;
  height: 680px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  // padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editUserProfile-page h1 {
  padding: 20px;
  font-family: 'Trocchi', serif;
}

.pets-details-page h1 {
  text-align: center;
  padding: 20px;
  font-family: 'Trocchi', serif;
}

.register-pets-page {
  width: auto;
  height: 680px;
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  // padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-pets-page h1 {
  padding: 20px;
  font-family: 'Trocchi', serif;
}


// .allPets-page {
//   background-color:rgb(48, 46, 45);
//   // background-image: url("/images/background/IMG_6238\ copy.jpg");
// }

// #pets-card {
//   background-color: rgb(48, 46, 45);
//   border-radius: 2.25rem;
//   padding: 20px;
// }

.userProfile-page {
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  background-size: cover;
  position: relative;
}

.userProfile-page .bg-white {
  padding-top: 20px;
}

.pets-details-page {
  background-image: url("/images/background/IMG_6238\ copy.jpg");
  background-size: cover;
  position: relative;
}

nav {
  font-size: 1.2rem;
}