{{#unless user}}

<h1>WELCOME</h1>
  {{!-- {{#if user}}
  {{user.name}} 
  {{/if}} --}}
<div>
  <a href="/auth/google">Login with Google</a>
</div>
<div>
  <a href="/login">Login</a>
</div>
<div>
  <a href="/signup">Sign Up</a>
</div>

<div>
  <a href="/logout">Log Out</a>
</div>

{{/unless}}
  





