<div class="login-form">

  <h1>
    <a href="/"><img src="/images/cat-icons/cat-icon4.png" alt="logo" style="height: 90px; width:90px">PetsApp</a>
  </h1>

  <form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-6 mb-4">
        <label for="validationCustom01">Username</label>
        <input type="text" name="username" class="form-control" id="validationCustom01" placeholder="Username" required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <label for="validationCustom02">Password</label>
        <input type="password" name="password" class="form-control" id="validationCustom02" placeholder="Password"
          required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>

    </div>
    <button class="btn btn-success" type="submit">Log In</button>
  </form>

</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>