{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/google">Login with Google</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav> --}}



{{!-- <form id="form" action="/signup" method="POST">

  <label for="username">Username</label>
  <input type="name" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  {{#if message}}
  <div style="color:red" class="error-message">{{message}}</div>
  {{/if}}

  <button type="submit">Sign up 🦊</button>
</form> --}}


{{!-- <div class="signup-page">
  <h1>
    <img src="/images/cat-icons/cat-icon4.png" alt="logo" style="height: 90px; width:90px">PetsApp
  </h1>

  <div class="login-buttons">
    <button type="button" class="btn btn-info btn-lg btn-block" style="width: 300px; color:black"><a
        href="/signup">Signup</a></button>
    <button type="button" class="btn btn-success btn-lg btn-block" style="width: 300px; color:black"><a
        href="/login">Login</a></button>
    <button type="button" class="btn btn-warning btn-lg btn-block" style="width: 300px"><a href=" /auth/google">Login
        with
        Google</a></button>
  </div>

</div> --}}

{{!-- signup with client side validation --}}
<div class="signup-form">

  <h1>
    <a href="/"><img src="/images/cat-icons/cat-icon4.png" alt="logo" style="height: 90px; width:90px">PetsApp</a>
  </h1>

  <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Username</label>
        <input type="text" name="username" class="form-control" id="validationCustom01" placeholder="Username" required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Password</label>
        <input type="password" name="password" class="form-control" id="validationCustom02" placeholder="Password" required>
        <div class="valid-feedback">
          {{message}}
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input type="email" name="email" class="form-control" id="validationCustomUsername" placeholder="Email" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please enter a email.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input type="text" name="city" class="form-control" id="validationCustom03" placeholder="City" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input type="text" name="state" class="form-control" id="validationCustom04" placeholder="State" required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input type="text" name="zip" class="form-control" id="validationCustom05" placeholder="Zip" required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
  </form>

</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>